.organization-register-container {
  padding-top: 100px;
  padding-bottom: 20px;
}

.organization-register-card {
  width: 1100px;
}

@media (max-width: 1399px) {
  .organization-register-card {
    width: 800px;
  }
}

@media (max-width: 992px) {
  .organization-register-card {
    width: 500px;
  }
}

@media (max-width: 576px) {
  .organization-register-card {
    width: 400px;
  }
}
@media (max-width: 426px) {
  .organization-register-card {
    width: 320px;
  }
}
