.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  border: 0px;
  background: #218838 !important;
}
.btn-success:hover {
  color: #fff !important;
  background-color: #218838 !important;
  background: #218838 !important;
  border-color: #1e7e34 !important;
}
.approve :visited {
  color: #fff !important;
}
.approve {
  color: #fff !important;
}
.approve:hover {
  color: #fff !important;
}

.approve:not(:disabled):not(.disabled).active,
.approve:not(:disabled):not(.disabled):active,
.show > .approve.dropdown-toggle {
  color: #fff !important;
}
.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show > .btn-success.dropdown-toggle {
  color: #fff !important;
  background-color: #1e7e34 !important;
  border-color: #1c7430 !important;
}

.btn-success.focus,
.btn-success:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5) !important;
}

.background {
  background-color: #1c7430 !important;
}

.text-muted-resident {
  color: rgba(28, 32, 36, 0.871) !important;
}
.text-detail-resident {
  color: #000000b1 !important;
}

.table-row-light {
  background-color: #ffffff;
}
.table-row-dark {
  background-color: #fbfbfb;
}

.editorClassName {
  border: 1px solid #f1f1f1 !important;
  border-radius: 2px !important;
  height: 80% !important;
}

.wrapperClassName {
  height: 400px !important;
}
.w-40 {
  width: 40% !important;
}
.w-15 {
  width: 15% !important;
}
.w-3 {
  width: 3% !important;
}

.team-nav button {
  background: #ffffff1a !important;
}
.nav-profile .nav-profile-body {
  padding: 1px 0px !important;
}

.nav-profile .nav-profile-header-n {
  padding: 0.7rem 1rem;
  padding-bottom: 0px !important;
}
.text-muted-setting {
  color: rgba(114, 132, 154, 0.7) !important;
  font-size: 12px;
}
.padding-setting li {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding: 0 16px;
}

.ant-dropdown-menu-hover:hover {
  background-color: #f5f5f5;
}
.padding-setting li:hover {
  background-color: #f5f5f5;
}

.padding-none {
  padding-bottom: 0px !important;
}
.ant-body-pt .ant-card .ant-card-body {
  padding-top: 5px !important;
}

.form-input-mb .ant-form-item {
  margin-bottom: 5px !important;
}

.btn-danger {
  color: #fff !important;
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}
.btn-danger:hover {
  color: #fff !important;
  background-color: #bb2d3b !important;
  border-color: #b02a37 !important;
}

.btn-danger:active {
  color: #fff !important;
  background-color: #b02a37 !important;
  border-color: #a52834 !important;
}

.Resizer {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}
.Certificate-template {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.pdf-template-border {
  border-color: #efefef;
  /* box-shadow: 5px 7px #888888; */
  box-shadow: 0 0 10px #efefef;
}
.pdf-template-font {
  font-size: 12px;
}
.custom_cert .ant-card-body {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.custom_cert_child .ant-card-body {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  margin-left: 10px;
  margin-right: 10px;
}

.custom-file-upload input {
  display: none !important;
}
.testtest {
  width: 80px;
  height: 50px;
  background-color: #808080;
  margin: 20px;
}
div[id^="font-picker"] {
  position: relative;
  display: inline-block;
  width: 170px !important;
  background-color: white !important;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2) !important;
  border-radius: 8px;
  transition-delay: 0s border-color;
}
div[id^="font-picker"] .dropdown-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 37px !important;
  border: none;
  padding: 0 10px;

  background: transparent !important;
}

.dropdown-font-family {
  color: rgb(88, 88, 88, 1) !important;
}
div[id^="font-picker"] ul {
  position: absolute;
  z-index: 1;
  width: 100%;
  max-height: 0;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: white !important;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  -webkit-overflow-scrolling: touch;
}

div[id^="font-picker"] ul li button.active-font {
  background: #ecf1ff !important;
  color: #437df7 !important;
}
div[id^="font-picker"] ul li button:hover,
div[id^="font-picker"] ul li button:focus {
  background: #ecf1ff !important;
}

/* div[id^="font-picker"] {
  background: url("../images/font-icon.png") no-repeat left center;
} */
div[id^="font-picker"]:hover {
  border: 1px solid;
  border-color: #3e79f7;
  transition-delay: 0.2s;
}

.cert-name {
  border: none;
  border-radius: 0px !important;
  text-align: center;
  margin-top: 15px;
  width: 125px;
}
.cert-name:focus {
  box-shadow: 0 4px 2px -2px rgba(62, 121, 247, 0.2) !important;
}
.bottomright {
  position: absolute;
  margin-right: 10px;
  margin-bottom: 10px;
  bottom: 5px;
  right: 5px;
}

.cert-dash {
  border-style: dashed;
  border: 2px dashed gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cert-dash:hover {
  border: 2px dashed #283142;
  color: #283142;
}
.list-center {
  flex: 0 0 120px;
}

.pdf-hover {
  -webkit-box-shadow: 2px 1px 5px 0px rgba(143, 143, 143, 1);
  -moz-box-shadow: 2px 1px 5px 0px rgba(143, 143, 143, 1);
  box-shadow: 2px 1px 5px 0px rgba(143, 143, 143, 1);
}
.pdf-hover:hover {
  border-color: #efefef;
  box-shadow: 5px 7px #888888;
}

.cert-font-buttom {
  font-size: 17px;
}
.cert-font-buttom p {
  color: #455560;
  margin: 0;
}
.bottom-right-Drawer {
  position: absolute;

  margin-bottom: 0px;
  bottom: 0px;
  right: 0px;
}
.custom-ant-header .ant-drawer-header {
  background-color: #283142;
  color: white;
}
.custom-ant-header .ant-drawer-title {
  color: white;
}
.custom-ant-header .ant-drawer-close {
  color: white;
}
.pdf-template-list {
  font-size: 8px;
}
.pdf-input-hover {
  color: #b3b9bd;
}
.pdf-input-hover .ant-input:hover {
  color: rgb(26, 51, 83);
}

@media screen and (max-width: 1900px) {
  .logo {
    padding: 0px 0px !important;
  }
  .pdf-template-font {
    font-size: 8px;
  }
  .cert-font-buttom p {
    font-size: 16px;
  }
  psis-dropdown {
    font-size: 14px;
  }
}
.margin-account-left {
  margin-left: 1.5rem;
}
@media screen and (max-width: 1024px) {
  .bottomright {
    margin-right: 5px;
  }
  .ellipsis-dropdown {
    font-size: 14px;
  }
}
.margin-account-left {
  margin-left: 1.5rem;
}
@media screen and (max-width: 767px) {
  .margin-account-left {
    margin-left: 0px;
  }

  .ellipsis-dropdown {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .ellipsis-dropdown {
    font-size: 14px;
  }
}
.margin-account-left {
  margin-left: 1.5rem;
}

@media screen and (max-width: 534px) {
  .margin-account-left {
    margin-left: 0px;
  }

  .ellipsis-dropdown {
    font-size: 14px;
  }
}
@media screen and (max-width: 425px) {
  .cert-font-buttom p {
    font-size: 12px;
  }

  .ellipsis-dropdown {
    font-size: 9px;
  }
}
@media screen and (max-width: 375px) {
  .ellipsis-dropdown {
    font-size: 8px;
  }
  .bottomright {
    margin-bottom: 5px;
    bottom: 5px;
    right: 5px;
  }
}
@media screen and (max-width: 355px) {
  .ellipsis-dropdown {
    font-size: 8px;
  }
}
@media screen and (max-width: 320px) {
  .cert-font-buttom p {
    font-size: 8px;
  }
}
.container-div {
  display: flex;

  align-items: center;
  justify-content: centre;
}
.image-center {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#ResumeContainer {
  margin: auto;
  width: 100%;
  /* border: yellow solid 3px; */
  display: grid;
  flex-direction: column;
  align-items: center;
}

.PDFDocument {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PDFPage {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  border: red solid 3px;
}

.PDFPageOne {
  margin-bottom: 25px;
}

.PDFPage > canvas {
  max-width: 100%;
  height: auto !important;
}
.ant-menu-item-group-title {
  margin-top: 0px;
}
